body  {
	background: #f9e933;
}

header, main, footer  {
	min-width: 855px;
}

header .container, main .container, footer .container  {
	max-width: 855px;
    margin: auto;  /* Extends margin to edge of browser, keeping background color settings */
}

header {
	background: white;
}

main  {
	background: white;
}