body  {
	background: #f9e933;
	font-size: 100%;
	font-family: 'Droid Sans', sans-serif;
}

h2  {
	font-family: 'Ubuntu', sans-serif;
	font-size: x-large;
}

h3  {
	font-family: 'Ubuntu', sans-serif;
	font-size: larger;
}

h4  {
	font-family: 'Ubuntu', sans-serif;
}

header, main, footer  {
	min-width: 855px;
}

header .container, main .container, footer .container  {
	max-width: 855px;
    margin: auto;  /* Extends margin to edge of browser, keeping background color settings */
}

header {
	background: white;
	overflow: auto;
}

header h1  {
	float: left;
	width: 570px;
	margin-top: 10px;
	margin-bottom: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-size: xx-large;
}

header nav  {
	float: right;
	width: 285px;
	margin-top: 10px;
}

main  {
	background: white;
	overflow: auto;
}

main img {
	float: right;
	width: 285px;
}

main .main_content  {
	float: left;
	width: 570px;
}

footer  {
	overflow: auto;
}

footer .sitemap  {
	float: right;
	width: 285px;
}

footer .sitemap_left  {
	float: left;
    width: 50%;
}

footer .sitemap_right {
	float: right;
	width: 50%;
}

footer .contact  {
	float: left;
	width: 570px;
}

