body  {
	background: #f9e933;
}

header, main, footer  {
	min-width: 855px;
}

header .container, main .container, footer .container  {
	max-width: 855px;
    margin: auto;  /* Extends margin to edge of browser, keeping background color settings */
}

header {
	background: white;
	overflow: auto;
}

header h1  {
	float: left;
	width: 570px;
}

header nav  {
	float: right;
	width: 285px;
}

main  {
	background: white;
	overflow: auto;
}

main img {
	float: right;
	width: 285px;
}

main .main_content  {
	float: left;
	width: 570px;
}

footer  {
	overflow: auto;
}

footer .sitemap  {
	float: right;
	width: 285px;
}

footer li  {
	float: left;  /* float li items in left of right-hand column */
	width: 50%;   /* split into two columns each 50% of available width */
}

footer .contact  {
	float: left;
	width: 570px;
}

